<div class="container__vision">
    <div class="vision__mision">
        <div class="mision__title">
            <p>{{carreraMV.misTitle}}</p>
        </div>
        <div class="mision__content">
            <p>{{carreraMV.miscontent}}</p>
        </div>
    </div>
    <div class="vision__vision">
        <div class="vision__title">
            <p>{{carreraMV.visTitle}}</p>
        </div>
        <div class="vision__content">
            <p>{{carreraMV.viscontent}}</p>
        </div>
    </div>
</div>