<nav class="navbar navbar-expand-lg navbar-light back">
    <div class="logo">
        <a href="/ficct/inicio">
            <img class="ficct" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Escudo_FICCT.png" alt="ficct">
        </a>
        
        <div class="vertical-line-logo"></div>
        <h1 class="text-gray-900 text">FICCT</h1>
    </div>
    <div class="text-search" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</nav>


<!-- <div class="verticalLine">
</div> -->