<div class="container-fluid px-0">
    <div class="container__bloques">
        <div class="container__title">
            <div class="container__title__content">
                <p>
                    FACULTAD DE INGENIERIA EN CIENCIAS DE LA COMPUTACIÓN Y TELECOMUNICACIONES
                </p>
            </div>
        </div>
        <div class="container__imagen">
            <div class="container__imagen__img">
                <div class="container__imagen__img_content">
                    <img src="../../../assets/img/facultad-1.png" alt="" />
                </div>
            </div>
        </div>
        <div class="container__content">
            <div class="container__content_envolve">
                <div class="content_envolve_first">
                    <p>
                        Bienvenidos a la Página de la Facultad de Ingeniería de Ciencias de la Comunicación y Telecomunicaciones (F.I.C.C.T.) de la Universidad Autónoma Gabriel René Moreno (U.A.G.R.M.).
                    </p>
                </div>
                <div class="container_envolve_second">
                    <p>
                        Esperamos que puedas encontrar toda la información y documentos de tu interés. Por este medio te estaremos haciendo conocer sobre las novedades y eventos académicos de la Facultad, así que ¡no dejes de visitarnos!.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>