<app-header></app-header>
<app-navegacion></app-navegacion>
<div class="container-fluid first p-0">
    <app-carrusel [items]="carouselData"></app-carrusel>
</div>
<div class="container-fluid bg-danger">
    <div class="container px-0">
        <h5 class="text-gray-100 title">
            Bienvenidos a la pagina de la Facultad de Ingenieria en Ciencias de la
            Computación y telecomunicación, donde podras encontrar la informacion acerca
            de lo que acontece en nuestra facultad asi como tambien, informacion de
            apoyo en las materias de tu interes
          </h5>
    </div>
</div>
<div class="container-fluid-second px-0">
    <app-noticias id="noticias" [itemsNoc]="noticiasData"></app-noticias>
    <app-pregfrec></app-pregfrec>
</div>
<app-footer></app-footer>
