<app-header></app-header>
<app-navegacion></app-navegacion>
<div class="container-fluid px-0">
    <div class="container__carrera">
        <div class="container__vector">
            <div class="container__vector-info">
                <div class="vector-info__carrera">
                    <p>Ingenieria en Redes y Telecomunicaciones</p>
                </div>
                <div class="vector-info__sigla">
                    <p>187 - 5</p>
                </div>
            </div>
            <div class="container__vector-about">
                <div class="container__vector-about__img">
                    <div class="imagen-jefatura">
                        <img src="../../../assets/img/profile-image.png" alt="">
                    </div>
                </div>
                <div class="vector-about__content">
                    <div class="vector-about__content1">
                        <p>El año 2005 un equipo de docentes especialistas de Informática concluyen el nuevo diseño curricular de las carreras de cienciás de la computación dando origen al programa de titulacion 187-5, Posteriormente mediante resolucion ICU 030/2010 reconoce como fecha de creacion de la carrera el 20 de abril del año 2005.</p>
                    </div>
                    <div class="vector-about__content2">
                        <p>Como Director de la carrera de Ingenierá en Redes y Telecomunicaciones de la facultad de Ingeniería en Ciencias de la Computación y Telecomunicaciones es un honor para mí darte la bienvenida a la Carrera.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__vision">
        <div class="vision__mision">
            <div class="mision__title">
                <p>Misión</p>
            </div>
            <div class="mision__content">
                <p>La carrera de Ingeniería de Redes y Telecomunicaciones tiene por mision la formacion integral y permanente de profesionales en Redes y Telecomunicaciones para la creacion, difusion y cultivo de las tecnologias de la informacion y la comunicacion, siendo liderese y agentes de cambio para promover la equidad y justicia social.</p>
            </div>
        </div>
        <div class="vision__vision">
            <div class="vision__title">
                <p>Visión</p>
            </div>
            <div class="vision__content">
                <p>La carrera de Ingenieria  de Redes y Telecomunicaciones es reconocida y valorada por su caldiad y pertinencia social.

                    Docentes y estudiantes estan involucrados en procesos de investigacion y acreditacion.</p>
            </div>
        </div>
    </div>
    <div class="container__malla">
        <div class="container__malla-vector">
        </div>
        <div class="container__curricular">
            <div class="curricular__content">
                <div class="curricular__content-title">
                    <p>Malla Curricular</p>
                </div>
                <div class="curricular__content-paragraph">
                    <p> Si te interesa conocer mas acerca de nuestro plan de estudio, puedes acceder a nuestros enlaces y ver nuestro programa analitico en las materias.</p>
                </div>
            </div>
        </div>
        <div class="container__plan">
            <div class="malla">
                <img src="../../../assets/img/malla_redes.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
