<app-header></app-header>
<app-navegacion></app-navegacion>
<div class="container-fluid px-0">
    <div class="container__carrera">
        <div class="container__vector">
            <div class="container__vector-info">
                <div class="vector-info__carrera">
                    <p>Ingenieria Informatica</p>
                </div>
                <div class="vector-info__sigla">
                    <p>187 - 3</p>
                </div>
            </div>
            <div class="container__vector-about">
                <div class="container__vector-about__img">
                    <div class="imagen-jefatura">
                        <img src="../../../assets/img/profile-image.png" alt="">
                    </div>
                </div>
                <div class="vector-about__content">
                    <div class="vector-about__content1">
                        <p>El 16 de Julio de 1987, mediante resolución I.C.U 32/87 el Ilustre Consejo Uiversitario convalida las resoluciones facultativas y crea la Carrera de Ingeniería Informática a nivel licenciatura bajo el régimenanuaizado.</p>
                    </div>
                    <div class="vector-about__content2">
                        <p>Como Director de la carrera de Ingenierá Informática de la facultad de Ingeniería en Ciencias de la Computación y Telecomunicaciones es un honor para mí darte la bienvenida a la Carrera.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__vision">
        <div class="vision__mision">
            <div class="mision__title">
                <p>Misión</p>
            </div>
            <div class="mision__content">
                <p> La carrera de Ingeniería Informatica tiene por mision formar profesionales integros en ingenieria Informatica para la creacion, innovacion y aplicación de tecnologias de informacion, siendo lideres y agentes de cambio para promover el bienestar social.</p>
            </div>
        </div>
        <div class="vision__vision">
            <div class="vision__title">
                <p>Visión</p>
            </div>
            <div class="vision__content">
                <p> La carrera de Ingenieria Informatica esta acreditada a nivel nacional e internacional y es reconocida y valorada por su calidad y pertinencia social.</p>
            </div>
        </div>
    </div>
    <div class="container__malla">
        <div class="container__malla-vector">
        </div>
        <div class="container__curricular">
            <div class="curricular__content">
                <div class="curricular__content-title">
                    <p>Malla Curricular</p>
                </div>
                <div class="curricular__content-paragraph">
                    <p> Si te interesa conocer mas acerca de nuestro plan de estudio, puedes acceder a nuestros enlaces y ver nuestro programa analitico en las materias.</p>
                </div>
            </div>
        </div>
        <div class="container__plan">
            <div class="malla">
                <img src="../../../assets/img/malla_informatica.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
