<div class="container-fluid px-0">
    <div class="container__principal">
        <div class="container__mision">
            <div class="title">
                <p>Mision</p>
            </div>
            <div class="content">
                <p>La Facultad de Ingeniería en Ciencias de la Computación y Telecomunicaciones es una unidad de gestión, organización y desarrollo de actividades académicas, investigación y extensión para la formación integral de profesionales en ciencias
                    de la computación y telecomunicación para la creación, difusión y cultivo de las tecnologías de la información y comunicación en pre y postgrado para contribuir al logro del desarrollo humano sostenible.</p>
            </div>
        </div>
        <div class="container__vision">
            <div class="title">
                <p>Vision</p>
            </div>
            <div class="content">
                <p>La Facultad de Ingeniería en Ciencias de la Computación y Telecomunicaciones es una unidad de gestión, organización y desarrollo de actividades académicas, investigación y extensión para la formación integral de profesionales en ciencias
                    de la computación y telecomunicación para la creación, difusión y cultivo de las tecnologías de la información y comunicación en pre y postgrado para contribuir al logro del desarrollo humano sostenible.</p>
            </div>
        </div>
    </div>
</div>