.container-fluid {
    width: 100%;
    height: 690px;
    background-color: rgba(2, 45, 109, 0.34);
    background-image: url("../../../assets/img/Vector3.png");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__principal {
    width: 80%;
    height: 80%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container__mision {
    width: 450px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__vision {
    width: 450px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    vertical-align: top;
    color: white;
}

.content {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: white;
    text-align: left;
}

@media screen and (max-width: 960px) {
   .container__principal{
       padding: 0;
   }

   .container__mision{
       padding: 0;
   }

   .container__vision{
       padding: 0;
   }

   .title{
       font-size: 25px;
   }

   .content{
       font-size: 16px;
   }
}

@media screen and (max-width: 576px) {
    .container__mision{
        width: 270px;
    }

    .container__vision{
        width: 270px;
    }

    .title{
        font-size: 20px;
    }

    .content{
        font-size: 14px;
    }
}