<div class="container__malla">
    <div class="container__malla-vector">
    </div>
    <div class="container__curricular">
        <div class="curricular__content">
            <div class="curricular__content-title">
                <p>{{mallaDatos.mallatitle}}</p>
            </div>
            <div class="curricular__content-paragraph">
                <p>{{mallaDatos.mallacontent}}</p>
            </div>
        </div>
    </div>
    <div class="container__plan">
        <div class="malla">
            <img [src]="mallaDatos.imagen" alt="">
        </div>
    </div>
</div>