<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler animated--fade-in" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/ficct/acercade">Acerca de</a>
            </li>
            <div class="verticalLine">
            </div>
            <li class="nav-item dropdown animated--fade-in">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="desplegable" href="#">Carreras</a>
                <div class="dropdown-menu bg-danger animated--fade-in">
                    <div class="verticalLine vertical-sub">
                    </div>
                    <a class="dropdown-item text-gray-100" href="/ficct/ingsistemas">Ingenieria en sistemas</a>
                    <div class="verticalLine vertical-sub">
                    </div>
                    <a class="dropdown-item text-gray-100" href="/ficct/inginformatica">Ingenieria informatica</a>
                    <div class="verticalLine vertical-sub">
                    </div>
                    <a class="dropdown-item text-gray-100" href="/ficct/ingredes">Ingenieria en redes y telecomunicaciones</a>
                </div>
            </li>
            <div class="verticalLine">
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">PostGrado</a>
            </li>
            <div class="verticalLine">
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">Biblioteca</a>
            </li>
            <div class="verticalLine">
            </div>
            <li class="nav-item">
                <a class="nav-link" href="#">Noticias</a>
            </li>
        </ul>
    </div>
    <h6 class="text-gray-100 ocultar">Facultad Ing. en Cs. de la computacion y telecomunicaciones</h6>
</nav>
