<div class="container__preg">
  <div class="container__first"></div>

  <div class="container__preg-principal">
    <div class="preg__title">
      <div class="preg__title-container">
        <p>preguntas frecuentes</p>
      </div>
    </div>
    <div class="preg__content">
      <div class="preg__first">
        <p class="preg__subtitle">"¿cuanto cuesta este centro educativo?"</p>
        <div class="preg__text">
          <p>
            Al ser una Universidad de caracter Publico no se realiza pagos por
            mensualidades pero si otro tipo de pagos por ejemplo: Retiro de
            Materias
          </p>
        </div>
      </div>

      <div class="preg__second">
        <p class="preg__subtitle">"¿Aceptas nuevos estudiantes?"</p>
        <div class="preg__text">
          <p>
            Al ser una Universidad de caracter Publica nuestra facultad se
            encuentra siempre abierta a nuevos estudiantes.
          </p>
        </div>
      </div>

      <div class="preg__third">
        <p class="preg__subtitle">
          "¿Puedes contarme más sobre este centro educativo?"
        </p>
        <div class="preg__text">
          <p>
            Si quieres conocer mas acerca de nuestra facultad puedes revisar
            nuestra seccion de “Acerca de..”
          </p>
        </div>
      </div>

      <div class="preg__fourth">
        <p class="preg__subtitle">“¿Como puedo Ingresar?”</p>
        <div class="preg__text">
          <p>
            para poder ser parte de nuestra comunidad el estudiante debe de
            postular y aprobar el examen PSA , también puede ingresar por
            modalidad directo (estudiante destacado, indígena)
          </p>
        </div>
      </div>

      <div class="preg__fifth">
        <p class="preg__subtitle">"¿Dónde te encuentras?"</p>
        <div class="preg__text">
          <p>
            Nuestra Facultad se encuentra en los módulos universitarios de la
            Uagrm, numero de modulo 236, si quiere conocer más en específico
            nuestra ubicación puede ingresar al siguiente link
          </p>
        </div>
      </div>
    </div>
    
    <div class="preg__final">
      <p>
        Te invitamos a que puedas hacer tu consulta de manera personal por
        oficinas de Decanato 3er piso o nuestros centros internos ubicados en la
        planta baja facultativa, ubicados en el módulo 236 en horarios de
        oficina.
      </p>
    </div>
  </div>

  <div class="container__second"></div>
</div>
