<div class="container-fluid px-0">
    <div class="container__social">
        <p class="container__social-p">conectate:</p>
        <div class="container__social-icons">
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
    <div class="container__qr">
        <img src="../../../assets/img/qr.png" alt="QR">
    </div>
    <div class="container__line-vertical">
    </div>
    <div class="container__about">
        <p>© 2021 Universidad Autónoma Gabriel René Moreno</p>
        <p>Facultad de Ingenieria en Ciencias de la Computacion y Telecomunicaciones</p>
    </div>
    <div class="container__address">
        <p>Dirección:</p>
        <p class="direccion">Av. Busch, Ciudad Universitaria, Módulo 236.</p>
        <p>Correo:</p>
        <p>f_icct@uagrm.edu.bo</p>
        <p>Redes Sociales:</p>
        <p>Facebook: FICCT - UAGRM</p>
    </div>
    <div class="container__phone">
        <p>Teléfono / Fax:</p>
        <p>(591) 3 - 3553636</p>
    </div>
    <div class="container__line-vertical-hidden">
    </div>
</div>

